language: python

python:
- 3.9

install:
- pip install -r requirements.txt

script:
- black --check .
- flake8 --max-line-length=300 .
- coverage run manage.py test
- python manage.py makemigrations
- python manage.py migrate
- env

after_script:
- coveralls
- coverage report

deploy:
  - provider: elasticbeanstalk
    access_key_id: $ACCESS_KEY_ID
    secret_access_key: $SECRET_ACCESS_KEY
    region: $REGION
    app: health-score
    env: health-env4
    bucket_name: $BUCKET_NAME
    on:
      repo: gcivil-nyu-org/INT2-Monday-Spring2024-Team-1
      branch: master
    skip_cleanup: 'true'
  
  - provider: elasticbeanstalk
    access_key_id: $ACCESS_KEY_ID
    secret_access_key: $SECRET_ACCESS_KEY
    region: $REGION
    app: health-score-integration
    env: Health-score-integration-env
    bucket_name: $BUCKET_NAME
    on:
      repo: gcivil-nyu-org/INT2-Monday-Spring2024-Team-1
      branch: sav_test
    skip_cleanup: 'true'
