files:
    /etc/nginx/conf.d/proxy.conf:
        upstream keepalive-upstream {
            server 127.0.0.1:8000;
            keepalive 64;
        }

        server { 
            location / { 
                proxy_pass http://keepalive-upstream;
                proxy_set_header Connection "";
                proxy_http_version 1.1;
            }
        }
