<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Score</title>
  <style>

  </style>
</head>

<body>
    <!-- Header -->
    {% include 'header.html' %}
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <h2>Recent Posts</h2>
            <div class="list-group">
              {% for post in posts %}
              <a href="{% url 'view_post' post_id=post.id %}" class="list-group-item list-group-item-action">{{ post.title }} - {{ post.createdAt }}</a>
              {% empty %}
              <p>No posts found.</p>
              {% endfor %}
            </div>
            <div class="mt-3">
                <a href="{% url 'my_posts' %}" class="btn btn-link">View all my posts >></a>
            </div>
          </div>
          <div class="col-md-6">
            <h2>Health History</h2>
            <div class="col-lg-12">
                <table class="table my-4 table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Reason for Visit</th>
                            <th scope="col">Healthcare Worker</th>
                            <th scope="col">Healthcare Facility</th>
                            <th scope="col">Address</th>
                            <th scope="col">Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history, record in zipped_details %}
                        <tr>
                            <td>{{ history.appointment_name }}</td>
                            <td>{{ history.doctor_name }}</td>
                            <td>{{ history.hospital_name }}</td>
                            <td>{{ history.hospital_address }}</td>
                            <td>{{ history.createdAt|date:"Y-m-d" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">No records found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'view_health_history' %}" class="btn btn-link">View my full health picture >></a>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Pending Requests</h2>
                <div class="list-group">
                  {% for request in zipped_requests %}
                  <a href="#" class="list-group-item list-group-item-action">{{ request.request_detail }} - {{ request.request_date }}</a>
                  {% empty %}
                  <p>No pending requests found.</p>
                  {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <a href="{% url 'new_health_record' %}" class="btn btn-primary">Add Health Record</a>
            </div>
        </div>
    </div>

</body>