<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Account Settings</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .list-group-item-action.active {
        background-color: #9D76C1;
        border-color: lightgray;
    }
    .custom-save-btn {
        background-color: #9D76C1;
        color: white;
    }
    .custom-save-btn:hover {
        background-color: #7749A2;
        color: white;
    }
    .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        box-shadow: 0px 2px 4px rgba(0,0,0,.3);
    }
</style>
</head>

<body>

{%  include 'header.html' %}

<div class="container-fluid">
  <div class="row">
  <div class="col-md-3 col-lg-2 d-md-block bg-white">
    <div class="text-center mt-5">
        {% if userInfo.profilePic %}
            <img src="{{ userInfo.profilePic }}" alt="Profile Picture" class="profile-pic">
        {% else %}
            <img src="https://i.imgur.com/v2dIoGF.jpg" alt="Profile Picture" class="profile-pic">
        {% endif %}
    </div>
      <div class="list-group mt-4">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Account Details</a>
        <a href="#" class="list-group-item list-group-item-action">Change Password</a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Logout</a>
      </div>
  </div>

    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <form id="editUserForm" action='{% url "edit_user_info" %}' method="post" enctype="multipart/form-data">
        <h4>Account Details</h4>
          
          <div id="formFeedback" class="mb-3"></div>
        <div class="form-group">
          <label for="userName">Name</label>
          <input type="text" class="form-control custom-width" id="userName" name="name" value="{{ userInfo.name }}">
        </div>
        <div class="form-group">
          <label for="userEmail">Email address</label>
          <input type="email" class="form-control custom-width" id="userEmail" name="email" value="{{ userInfo.email }}">
        </div>
        <div class="form-group">
          <label for="userAddress">Address</label>
          <input type="text" class="form-control custom-width" id="userAddress" name="address" value="{{ userInfo.address }}">
        </div>
        <div class="form-group">
          <label for="userPhone">Phone Number</label>
          <input type="text" class="form-control custom-width" id="userPhone" name="contactInfo" value="{{ userInfo.contactInfo }}">
        </div>
        <div class="form-group">
          <label for="file">Profile Picture</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>
          <!--
          <div class="form-group">
            <label for="userProfilePicture">Profile Picture</label>
            <input type="file" class="form-control-file" id="userProfilePicture" name="profile_picture">
          </div>
          -->
          
          {% csrf_token %}
        
        <button type="submit" class="btn custom-save-btn">Save Changes</button>
          
      </form>
    </div>
  </div>
</div>

    <script>
      document.getElementById('editUserForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission behavior
        
        const form = event.target;
        const formData = new FormData(form);

        const fileInput = document.getElementById('file');
        // Check if a file is selected
        if (fileInput.files.length > 0) {
            // Append the file to the FormData object
            formData.append('file', fileInput.files[0]);
        }

        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            const feedbackElement = document.getElementById('formFeedback');
            feedbackElement.innerHTML = '';
            if (data.error) {
                feedbackElement.innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
            } else {
                feedbackElement.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
                // If you want to update the UI with the new user information, you can do it here
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });

        // function submitEditForm() {
        //     const form = document.getElementById('editUserForm');
        //     const formData = new FormData(form);
        //     const jsonData = {};
        //     formData.forEach((value, key) => {jsonData[key] = value;});

        //     const fileInput = document.getElementById('file');
        //     // Check if a file is selected
        //     if (fileInput.files.length > 0) {
        //         // Append the file to the FormData object
        //         formData.append('file', fileInput.files[0]);
        //     }

        //     console.log(jsonData, "formData user profile")
        //     fetch('{% url "edit_user_info" %}', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'multipart-formdata',
        //             'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        //         },
        //         body: {'data': jsonData, "file": fileInput.files[0]},
        //     })
        //     .then(response => response.json())
        //     .then(data => {
        //         const feedbackElement = document.getElementById('formFeedback');
        //         feedbackElement.innerHTML = '';
        //         const message = data.error ? `<div class="alert alert-danger">${data.error}</div>` : `<div class="alert alert-success">${data.message}</div>`;
        //         feedbackElement.innerHTML = message;
        //     })
        //     .catch((error) => {
        //         console.error('Error:', error);
        //     });
        // }
    
    
    </script>

</body>
</html>