<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Health Score</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .grab {
            cursor: -webkit-grab;
            cursor: grab;
        }


        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #f1f1f1;
        }

        .navbar-custom {
            background-color: #e3f2fd;
        }

        .navbar-brand {
            position: relative;
            background: url();
            width: 170px;
            left: 15px;
            background-size: contain;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .propertiesNoDisplay {
            visibility: hidden;
            display: none;
        }

        .addPropertiesValues {
            padding: 0.75rem;
            vertical-align: top;
            border: 1px solid #dee2e6 !important;
        }

        .modalHeight {
            max-height: 25rem;
            overflow-y: auto;
        }

        .appointmentName {
            text-decoration: underline;
            color: blue !important;
        }

        .rejectionError {
            width: 95%;
            margin: auto;
        }

        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    {% include 'header.html' %}

    <div class="container my-4">
        <h2 class="text-center">Health History</h2>

        <!-- Filter Section -->
        <div class="row">
            <div class="col-lg-12">
                <h4>Filter Health History</h4>
                <!-- {{docs_records}} -->
                <form method="GET" action="{% url 'view_health_history_doc' %}" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="appointment_name" class="sr-only">Reason for Visit:</label>
                        <input type="text" class="form-control" id="appointment_name" name="appointment_name"
                            placeholder="Reason for Visit" value="{{ request.GET.appointment_name }}">
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-secondary">Filter</button>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <a href="{% url 'view_health_history_doc' %}" class="btn btn-outline-secondary ml-2">Clear</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- Data Display Section -->
        <div class="row">
            <div class="col-lg-12">
                <form>
                    {% csrf_token %}
                    <table class="table table-striped my-4 table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">User</th>
                                <th scope="col">Reason for Visit</th>
                                <th scope="col">Visit Details</th>
                                <th scope="col">Date</th>
                                <th scope="col">Decision</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in docs_records %}

                            <tr>
                                <td class="appointmentName"
                                    onclick="getProperties(`{{record.record_id}}|{{ record.appointment_properties }}|{{record.appointment_name}}`)"
                                    data-toggle="modal" data-target="#myModal">{{record.user_id}}</td>
                                <td>{{ record.appointment_name }}</td>
                                <td>{{ record.appointment_type }}</td>
                                <td>{{ record.createdAt }}</td>
                                <td>
                                    <button onclick="sendAccept(`{{ record.record_id }}|{{ 'approved' }}`)"
                                        type="button" class="btn btn-success">Approve</button>
                                    <button onclick="rejectModal(`{{ record.record_id }}|{{ 'rejected' }}`)"
                                        data-toggle="modal" data-target="#rejectModal" type="button"
                                        class="btn btn-danger">Reject</button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div id="rejectModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-reject-title" class="modal-title">Reason for rejection</h4>
                    <button type="button" class="close" data-dismiss="modal"></button>
                </div>
                <div class="modal-body modalHeight" id="modal-reject-body">
                    <textarea class="form-control" id="rejectionReason" value="rejectionReason" name="rejectionReason"
                        rows="3"></textarea>
                </div>

                <div class="rejectionError" id="error-reject"></div>

                <div class="modal-footer">
                    <button type="button" onclick="sendReject()" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modal-title" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"></button>

                </div>
                <div class="modal-body modalHeight" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>

        function sendReject() {
            var rejectionReason = document.getElementById('rejectionReason').value;

            var record = document.getElementById('rejectModal').getAttribute('data-record');
            var status = document.getElementById('rejectModal').getAttribute('data-status');

            if (!rejectionReason) {
                document.getElementById("error-reject").innerHTML = `<div class='alert alert-danger' role='alert'>
                                        Reason cannot be empty!
                                        </div>`;
                return;
            }

            var newData = {
                recordID: record,
                status: status,
                reason: rejectionReason
            };


            fetch('{% url "update_request_status" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(newData),
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload(true)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });



            // Close the modal
            document.getElementById('rejectionReason').value = '';
            document.getElementById('rejectModal').classList.remove('show');
            document.getElementById('rejectModal').setAttribute('aria-hidden', 'true');
            document.getElementById('rejectModal').setAttribute('style', 'display: none');
            document.getElementById('rejectModal').setAttribute('aria-modal', 'false');
            document.querySelector('.modal-backdrop').remove();
        }


        function sendAccept(acceptedRecord) {
            var record = acceptedRecord.split("|")[0]
            var status = acceptedRecord.split("|")[1]

            var newData = {
                recordID: record,
                status: status,
            };

            fetch('{% url "update_request_status" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: JSON.stringify(newData),
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload(true)
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function rejectModal(rejectModal) {
            var record = rejectModal.split("|")[0];
            var status = rejectModal.split("|")[1];

            document.getElementById('rejectModal').setAttribute('data-record', record);
            document.getElementById('rejectModal').setAttribute('data-status', status);

            document.getElementById('rejectModal').classList.add('show');
            document.getElementById('rejectModal').setAttribute('aria-hidden', 'false');
            document.getElementById('rejectModal').removeAttribute('style');
            document.getElementById('rejectModal').setAttribute('aria-modal', 'true');
        }

        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }


        function formattedDate(date) {
            var dateObject = new Date(date);
            var month = dateObject.getMonth() + 1;
            var day = dateObject.getDate();
            var year = dateObject.getFullYear();

            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            var formattedDate = month + '/' + day + '/' + year;
            return formattedDate
        }


        function capitalizeLetter(key) {
            return key.charAt(0).toUpperCase() + key.slice(1);
        }

        function getProperties(appointment) {
            appointment_details = appointment.split("|")
            if (appointment_details[1]) {
                appointment_name = appointment_details[2]

                appointment_properties = JSON.parse(appointment_details[1])

                document.getElementById('modal-title').innerHTML = appointment_name

                var props = `<table class="table table-striped my-4 addPropertiesKeys">
                            <thead class="thead-dark">`
                for (var [key, value] of Object.entries(appointment_properties)) {
                    if (key == 'date') {
                        value = formattedDate(value)
                    }
                    props += `
                    <tr>
                        <th class="addPropertiesKeys">${capitalizeLetter(key)}</th>
                        <td class="addPropertiesValues">${value}</td>
                    </tr>
                `
                }

                props += `    </thead>
                    </table>`

                document.getElementById('modal-body').innerHTML = props
            }
            else {
                document.getElementById('modal-body').innerHTML = `<div class='alert alert-danger' role='alert'>
                                    No Properties!
                                    </div>`
            }
        }

    </script>
</body>

</html>