<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Health History</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container my-4">
    <h1 class="text-center">Your Health History</h1>

    <!-- Filter Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2>Filter to View Your History</h2>
            <form method="post" action="{% url 'view_health_history' %}" class="form-inline">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <label for="UserID" class="sr-only">User ID:</label>
                        <input type="text" class="form-control" id="UserID" name="UserID" placeholder="Reason for Visit" required>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="UserName" class="sr-only">User Name:</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="User Name">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="DocumentName" class="sr-only">Document Name:</label>
                    <input type="text" class="form-control" id="DocumentName" name="DocumentName" placeholder="Document Name">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="hospital" class="sr-only">Hospital:</label>
                    <input type="text" class="form-control" id="hospital" name="hospital" placeholder="Healthcare Facility">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="date" class="sr-only">Date:</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>
                <button type="submit" class="btn btn-secondary mb-2">Filter</button>
            </form>
        </div>
    </div>

    <!-- Data Display Section -->
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped my-4">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Reason for Visit</th>
                    <th scope="col">Visit Details</th>
                    <th scope="col">Healthcare Worker</th>
                    <th scope="col">Healthcare Facility</th>
                    <th scope="col">Address</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Update Date</th>
                </tr>
                </thead>
                <tbody>
                {% for record in history_list %}
                    <tr>
                        <td>{{ record.appointment_name }}</td>
                        <td>{{ record.appointment_type }}</td>
                        <td>{{ record.doctor_name }}</td>
                        <td>{{ record.hospital_name }}</td>
                        <td>{{ record.hospital_address}}</td>
                        <td>{{ record.createdAt }}</td>
                        <td>{{ record.updatedAt }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
