<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Health History</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h1 class="text-center my-4">View Health History</h1>

<div class="container">
    <form method="post" action="{% url 'view_health_history' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_id">User ID</label>
            <input type="text" class="form-control" name="user_id" placeholder="id" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table class="table my-4">
    <thead class="thead-dark">
    <tr>
        <th scope="col">doctorID</th>
        <th scope="col">userID</th>
        <th scope="col">hospitalID</th>
        <th scope="col">status</th>
        <th scope="col">createdAt</th>
        <th scope="col">updatedAt</th>
        <th scope="col">appointmentId</th>
        <th scope="col">healthDocuments</th>
    </tr>
    </thead>

    <tbody>
    {% for record in history_list %}
        <tr>
            <td>{{ record.doctorID }}</td>
            <td>{{ record.userID_id }}</td>
            <td>{{ record.hospitalID }}</td>
            <td>{{ record.status }}</td>
            <td>{{ record.createdAt }}</td>
            <td>{{ record.updatedAt }}</td>
            <td>{{ record.appointmentId_id }}</td>
            <td>{{ record.healthDocuments }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <h2 class="text-center my-4">Filter to View Your History</h2>
    <form method="post" action="{% url 'view_health_history' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="UserID">User ID:</label>
            <input type="text" class="form-control" id="UserID" name="UserID" required>
        </div>
        <div class="form-group">
            <label for="UserName">User Name:</label>
            <input type="text" class="form-control" id="UserName" name="UserName">
        </div>
        <div class="form-group">
            <label for="DocumentName">Document Name:</label>
            <input type="text" class="form-control" id="DocumentName" name="DocumentName">
        </div>
        <div class="form-group">
            <label for="hospital">Hospital:</label>
            <input type="text" class="form-control" id="hospital" name="hospital">
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>

        <button type="submit" class="btn btn-secondary">Filter</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>